/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

/* HEADER */
.header {
    padding: 20px; 
    background-color: white;
    background-size: 240px;
}

.logo {
    vertical-align: middle;
}

.logo-text {
    font-size: 34px;
    vertical-align: middle;
}

.container {
    width: 70%;
    margin: 0 auto;
} 


/* NAV */
nav {
    width: 99%;
    height: 35%;
    margin: 40px auto 0 auto;
    background-color: white;
    border-radius: 9px; 
    
}

.task {
     height: 17px;
     width: 50px;
     font-size: 8px;
     text-align: center;
     color: white;
     background-color: #47adf1;
     border-color: #47adf1;
     border-radius: 4px;
     margin-top: 10px;
     margin-left: 25px;
     margin-bottom: 7px;
}

.section {
    height: 17px;
    width: 60px;
    font-size: 8px;
    text-align: center;
    background-color: white;
    color: lightgray;
    border-color: lightgray;
    border-radius: 4px;
}
/* line height per centrarlo dentro il contenitore? */

/* MAIN */
/*white container*/
.container-main { 
    width: 99%;
    margin-top: 2px;
    background-color: white;
    border-radius: 9px;
    padding: 30px 0 30px 30px;
 }

 li{
    list-style-type: none;
    /* padding-left: 30px; */
 }

.check {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #81cebd;
    border-color: #81cebd;
    border-width: 50px;
    /* background-color: white; */
    border-radius: 50%;
}

.cross {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #f28e88;
    border-color: #f28e88;
    border-width: 5px;
    border-radius: 50%;
    /* background-color: white; */
}

.lable {
    display: inline-block;
    width: 45px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 9px;
    font-size: 8px;
    color: white;
    padding: 1px 2px 2px 2px;
}

.editorial {
    background-color: #47adf1;
}
 
.goals {
    background-color: purple;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}